@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
Layout
*/

body{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar content';
  height: 100vh;
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
a{
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}
h1{
  font-size: 1.5rem;
}
.header{
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  width: 100%;
  height: 56px;
  justify-content: space-between;
  padding-left: 10px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}
.logo-container{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.logo h1{
  color: #fff;
  letter-spacing: -1px;
}

.logo-img{
  position: relative;
  height: 25px;
  width: 30px;
}
.search-container{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 1 685px;
}
.search-container form{
  width: 100%;
  position: relative;
  display: flex;
}
.search-container input{
  height: 40px;
  width: 100%;
  background-color: #12121212;
  color: #f2f2f2;
  padding: 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255,0.1);
  border-radius: 10px 0px 0px 10px;
}
.search-container button{
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 1.2rem;
  background-color: #313131;
  color: #fff;
  outline: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  border: none;
}
.search-container form ~ button{
  border-radius: 100%;
}
.profile-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-container a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}
.profile-container a:hover{
  background-color: #494949;
  transition: 0.8s;
}

.profile-box{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.profile-box img{
  border-radius: 50%;
}
.sidebar{
  grid-area: sidebar;
}
.content{
  grid-area: content;
}